<section class="bg-primary" id="about">
    <div class="container" style="background-image:"..\img\picbanner.png";">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr>
                <hr class="light">
                <hr>
                <p class="text-faded">I'm a senior studying computer science at the University of Texas at Austin. I'm currently developing an Android Game titled Pixel Invaders with a hopeful release of October 2020. My current focus is implemententing dynamic destruction techniques in an efficient way to support hitchless mobile gameplay. Check it out below.</p>
                <hr>
                <hr class="light">
                <hr>
                <a href="#portfolio" class="btn btn-default btn-xl page-scroll">Projects</a>
            </div>
        </div>
    </div>
</section>
