<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">I'm a senior studying computer science at the University of Texas at Austin. I'm currently developing an Android Game titled Pixel Invaders with a hopeful release of October 2020. My current focus is primarily acheiving the efficiency to implement dynamic destruction techniques for hitchless mobile gameplay. Check it out below.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
