<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-12">
                <a href="https://sweet96.github.io/Pixel_Invaders/" class="portfolio-box">
                    <img src="img/portfolio/pi.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Android Game
                            </div>
                            <div class="project-name">
                                Pixel Invaders
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-12">
                <a href="https://www.policyand.me/" class="portfolio-box">
                    <img src="img/portfolio/pam.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Website Database
                            </div>
                            <div class="project-name">
                                Policy And Me
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
